.gradle
build
!build/libs/*.jar

.idea
*.iml
.vscode
.settings
.project
.classpath

*.log

*.tmp
*.temp

.git
.gitignore

Dockerfile
.dockerignore
docker-compose.yml

.DS_Store
Thumbs.db

src/test

README.md
*.md

application-dev.properties
application-dev.yml 